@define-color base           #15191c;
@define-color urgent         #b02c36;
@define-color primary_orange #fe9000;
@define-color primary_yellow #ffdd4a;
@define-color primary_red    #da1b2b;
@define-color primary_blue   #89dceb;
@define-color primary_blue_2 #6fadd6;

@keyframes blink-critical {
  from {
    color: @primary_blue;
  }

  to {
    color: red;
  }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: transparent;
  color: @primary_blue;
  background-color: @base;
  font-family: "BlexMono Nerd Font";
  font-size: 11px;
}

/* Every modules */
#battery,
#clock,
#backlight,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#custom-weather,
#network,
#pulseaudio,
#temperature,
#tray,
#idle_inhibitor,
#custom-PBPbattery {
  padding: 0.5rem 0.6rem;
  margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#battery {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.warning {
  color: @primary_orange;
}

#battery.critical {
  color: @primary_red;
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-duration: 1s;
}

#cpu.warning {
  color: @primary_orange;
}

#cpu.critical {
  color: @primary_red;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @primary_orange;
}

#memory.critical {
  color: red;
  animation-name: blink-critical;
  animation-duration: 2s;
  padding-left: 5px;
  padding-right: 5px;
}

#mode {
  background: @primary_yellow;
  border-bottom: 3px @primary_blue;
  color: @base;
  margin-left: 5px;
  padding: 7px;
}

#network.disconnected {
  color: @primary_orange;
}

#pulseaudio {
  padding-top: 2px;
}

#pulseaudio.muted {
  color: @primary_yellow;
}

#temperature.critical {
  color: red;
}

#window {
  font-weight: bold;
}

#workspaces {
  font-size: 13px;
}

#workspaces button {
  margin-right: 5px;
  margin-left: 2px;
  border-bottom: 3px solid @primary_blue_2;
  margin-bottom: 1px;
  margin-top: 5px;
  padding: 0px;
  padding-right: 3px;
}

#workspaces button.focused {
  color: white;
  background-color: #333;
  margin-right: 5px;
  margin-left: 2px;
  border-bottom: 3px solid @primary_yellow;
  margin-bottom: 1px;
  padding-left: 0;
}

#workspaces button.urgent {
  border-color: @primary_red;
  color: @primary_red;
}

#custom-power {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
}

#custom-launcher {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 10px;
}

#backlight.icon {
  padding-right: 1px;
  font-size: 13px;
}
